@{
    ViewBag.Title = "İletişim | Folluk.net";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="page-head">
    <div class="container">
        <div class="page-title">
            <h1>Foluk Nedir? <small>folluk nedir, ne iş yapar ?</small></h1>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="container">
        <div class="portlet light">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row margin-bottom-20">
                            <div class="col-md-6">
                                <div class="space20">
                                </div>
                                <h3 class="form-section">İletişim Bilgileri</h3>
                                <p>
                                    Lorem ipsum dolor sit amet, Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat consectetuer adipiscing elit.
                                </p>
                                <div class="well">
                                    <h4>Adres</h4>
                                    <address>
                                        <strong>Folluk.net</strong><br>
                                        795 Park Ave, Suite 120<br>
                                        Kayseri, Türkiye<br>
                                        <abbr title="Gsm">Gsm:</abbr> (234) 145-1810
                                    </address>
                                    <address>
                                        <strong>Eposta</strong><br>
                                        <a href="mailto:saimkamil@hotmail.com">
                                            saimkamil@hotmail.com
                                        </a>
                                    </address>
                                    <ul class="social-icons margin-bottom-10">
                                        <li>
                                            <a href="javascript:;" data-original-title="facebook" class="facebook">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" data-original-title="github" class="github">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" data-original-title="Goole Plus" class="googleplus">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" data-original-title="linkedin" class="linkedin">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" data-original-title="rss" class="rss">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" data-original-title="skype" class="skype">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" data-original-title="twitter" class="twitter">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" data-original-title="youtube" class="youtube">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="space20">
                                </div>
                                <form action="/Home/Contact" method="post">
                                    <h3 class="form-section">Bize Yaz</h3>
                                    <p>
                                        Lorem ipsum dolor sit amet, Ut wisi enim ad minim veniam, quis nostrud exerci. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat consectetuer
                                    </p>
                                    <div class="form-group">
                                        <div class="input-icon">
                                            <i class="fa fa-check"></i>
                                            <input type="text" class="form-control" name="Subject" placeholder="Konu">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-icon">
                                            <i class="fa fa-user"></i>
                                            <input type="text" class="form-control" name="Fullname" placeholder="Adın Soyadın">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-icon">
                                            <i class="fa fa-envelope"></i>
                                            <input type="text" class="form-control" name="Email" placeholder="Eposta Adresin">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3=6" name="Message" placeholder="Mesajın"></textarea>
                                    </div>
                                    <button type="submit" class="btn green">Gönder</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>