
@{
    ViewBag.Title = "CreateCredential";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@{
    ViewBag.Title = "Çiftlik Oluştur | Folluk.net";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="page-head">
    <div class="container">
        <div class="page-title">
            <h1>Giriş Bilgileri <small>çiftliğini oluştur, hayvanlarını kaydet. her yerden izle.</small></h1>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="container">
        <div class="portlet light">
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row margin-bottom-20">
                            <div class="col-md-12s">
                                <div class="space20">
                                </div>
                                <form action="/Home/Credential" method="post">
                                    <h3 class="form-section">Kaydol</h3>
                                    <input type="hidden" name="AccountId" value="@ViewBag.AccountId" />
                                    <div class="form-group">
                                        <div class="input-icon">
                                            <i class="fa fa-check"></i>
                                            <input type="text" class="form-control" name="Username" placeholder="Kullanıcı Adı">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-icon">
                                            <i class="fa fa-envelope"></i>
                                            <input type="password" class="form-control" name="Password" placeholder="Parola">
                                        </div>
                                    </div>
                                    <button type="submit" class="btn green">Kaydı Tamamla</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>