@{
    ViewBag.Title = "Folluk";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="page-head">
    <div class="container">
        <div class="page-title">
            <h1>Foluk Nedir? <small>folluk nedir, ne iş yapar ?</small></h1>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-body">
                        <div class="row margin-bottom-30">
                            <div class="col-md-6">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                                </p>
                                <blockquote class="hero">
                                    <p>
                                        Çiftliğini oluştur ve hayvanlarını kaydet. Kümesine her yerden eriş.
                                    </p>
                                </blockquote>
                            </div>
                            <div class="col-md-6">
                                <iframe src="http://player.vimeo.com/video/22439234" style="width:100%; height:327px;border:0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>