@{
    ViewBag.Title = "Tebrikler! | Hesabın oluşturuldu";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<div class="page-head">
    <div class="container">
        <div class="page-title">
            <h1>Foluk Nedir? <small>folluk nedir, ne iş yapar ?</small></h1>
        </div>
    </div>
</div>
<div class="page-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-body">
                        <div class="row margin-bottom-30">
                            <div class="col-md-12">
                                <blockquote class="hero">
                                    <h3>
                                        Tebrikler! Hesabın başarıyla oluşturuldu.
                                    </h3>
                                    <small>
                                        Hesabına hemen giriş yap, çiftliğini oluştur ve hayvanlarını yönetmeye başla.
                                    </small>
                                </blockquote>
                                <a href="/Account" class="btn btn-danger btn-lg pull-right">
                                    Hesabına giriş yap <i class="icon-user"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>