<ul class="nav navbar-nav pull-right">
    <!-- BEGIN USER LOGIN DROPDOWN -->
    <li class="dropdown dropdown-user dropdown-dark">
        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
            <img alt="" class="img-circle" src="/assets/admin/layout3/img/avatar9.jpg">
            <span class="username username-hide-mobile">@ViewBag.Fullname</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-default">
            <li>
                <a href="/Account/Profile">
                    <i class="icon-user"></i> Profilim
                </a>
            </li>
            <li>
                <a href="/Account/Logout">
                    <i class="icon-key"></i> Çıkış yap
                </a>
            </li>
        </ul>
    </li>
    <!-- END USER LOGIN DROPDOWN -->
</ul>